<turbo-frame id="covers-index">
  <turbo-frame id="confirmation">
    <% if user_signed_in? %>
      <% @available_slots.each_with_index do |slot, index| %>
        <%= link_to slot_bookings_path(slot), data: {turbo_method: :post }  do %>
          <p>Table <%= index + 1 %></p>
        <% end %>
      <% end %>
    <% else %>
      <% @available_slots.each_with_index do |slot, index| %>
        <%= link_to new_user_registration_path do %>
        <p>Table <%= index + 1 %></p>
        <% end %>
      <% end %>
    <% end %>
  </turbo-frame>
</turbo-frame>
