// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600&display=swap');
// Define fonts for body and headers
$body-font: "Raleway", "Helvetica", "sans-serif";
$headers-font: "Josefin Sans", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

h1, h2, h3 {
  font-family: $headers-font;
  font-weight: 500;

}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-family: $body-font;
  font-weight: bold;
  font-size: 15px;
}

p {
  font-family: $body-font;
  font-size: 18px;
  font-weight: 400;
}
