// Specific CSS for your home-page
.home-heading {
  height: 26vh;
}
.form {
  // margin-top: 50px;
}

.header {
  height: 100vh;
}

#home-form {
  height: 100vh;
}

.home-text {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
}
