// Specific CSS for your home-page
.home-heading {
  height: 40vh;
  background-size: cover;
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url("food-image.jpeg");
  background-repeat: no-repeat;
}
.form {
  margin-top: 50px;
}
