<turbo-frame id="confirmation">
  <div style="text-align: center">
    <h1>Done!</h1>
    <p>Your booking has been confirmed:</p>
    <p><%= @restaurant.name %></p>
    <p>Date</p>
    <p>Number of people</p>
    <button class="button purple medium">Share with your guests</button>
    <button class="button light medium">Find on maps -></button>
    <div class="social-media-icons"></div>
    <%= link_to "See all bookings!", my_bookings_path %>
  </div>
</turbo-frame>
