<turbo-frame id="confirmation">
  <div style="text-align: center">
    <h1>Done!</h1>
    <p>Your booking has been confirmed:</p>
    <p><%= @restaurant.name %></p>
    <p><%= @booking.slot.start_time %>:00</p>
    <p>Table for <%= @booking.slot.cover.seats %> people</p>
    <button class="button purple medium" style="margin-bottom: 12px;" id="details-button">Share details</button>
    <div class="button light small">
      <%= link_to "See all bookings", user_path(current_user), id: "confirmation-modal-btn" %>
    </div>
  </div>
</turbo-frame>
