<turbo-frame id="confirmation">
  <div style="text-align: center">
    <h1>Done!</h1>
    <p>Your booking has been confirmed:</p>
    <p><%= @restaurant.name %></p>
    <p>Date</p>
    <p>Number of people</p>
    <button class="button purple medium">Share details</button>
    <%= link_to "See all bookings", user_path(current_user), id: "confirmation-modal-btn" %>
  </div>
</turbo-frame>
