.maps-link {
  display: flex;
}

.restaurant-times {
  display: flex;
  // justify-content: center;
}

.restaurant-times-grid {
  margin: 10px auto;
}

.time-select {
  margin: 25px auto;
}

.time-slot {
  width: 109px;
  height: 53px;
  box-shadow: 1px 1px 6px #EBEBEB;
  color: black;
  text-align: center;
  justify-content: center;
  padding-top: 11px;
  margin: 0 10px;
}

.time-slot.active {
  background-color: $light-purple;
}

.show-section {
  margin: 20px 15px;
}

.restaurant-description {
  margin: 15px auto;
  border-top: solid 0.2em $light-grey;
  border-bottom: solid 0.2em $light-grey;
  p {
    padding-top: 18px;
    text-align: justify;
  }
}

.restaurant-images > img {
  height: 225px;
  width: 100%;
  object-fit: cover;
}

.restaurant-heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  h2 {
  font-size: 36px;
  }
}

.restaurant-buttons {
  display: flex;
  justify-content: space-between;
}
.maps-button {
  p {
    text-decoration: underline;
  }
}
.reviews-button {
  a {
    font-family: $body-font;
    font-size: 18px;
    font-weight: 400;
    color: #565D70;
  }
}

#covers-index {
  display: flex;
  justify-content: center;
}

#covers-index a {
  text-decoration: none;
}

.reviews-details {
  text-align: justify;
  border: 1px solid rgb(244, 244, 244);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#confirmation {
  display: grid;
  // justify-content: center;
  a {
    width: 109px;
    height: 53px;
    box-shadow: 1px 1px 6px #EBEBEB;
    margin: 10px;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
    margin: 0 10px;
    text-decoration: none;
    color: #505050;
    margin-top: 10px;
  }
}

.reviews {
  border-bottom: solid 0.2em $light-grey;
  padding-bottom: 15px;
}

#confirmation-modal-btn {
  padding-top: 0px !important;
  box-shadow: none !important;
}

.more-restaurants {
  margin-bottom: 25%;
}

.animating-heart {
  color: white!important;
}

.reviews-header {
  margin-bottom: 4px;
  margin-top: 18px;
}

.review-name-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    margin-bottom: 4px;
    padding-left: 15px;
    padding-top: 15px;
  }
}

.review-content {
  padding: 0px 15px;
  padding-bottom: 15px;
}

.more-restaurants-header {
  margin-top: 18px;
}

.review-stars {
  padding-right: 15px;
}

.restaurant-cuisine-show p {
  margin-bottom: 3px;
}

.rating-box p {
  padding-right: 4px;
}

#details-button {
  padding: 10px 30px;
}
