.maps-link {
  display: flex;
}

.restaurant-times {
  display: flex;
  justify-content: center;
}

.restaurant-times-grid {
  margin: 10px auto;
}

.time-slot {
  width: 109px;
  height: 53px;
  box-shadow: 1px 1px 6px #EBEBEB;
  color: black;
  text-align: center;
  justify-content: center;
  padding-top: 11px;
  margin: 0 10px;
}

.time-slot.active {
  background-color: $light-purple;
}

.restaurant-description {
  margin: 15px auto;
  border-top: solid 0.2em $light-grey;
  border-bottom: solid 0.2em $light-grey;
  p {
    padding-top: 2px;
  }
}

.restaurant-images > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.restaurant-heading {
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  h2 {
  font-size: 36px;
  }
}

.restaurant-buttons {
  display: flex;
  justify-content: space-between;
}
.maps-button {
  p {
    text-decoration: underline;
  }
}
.reviews-button {
  a {
    font-family: $body-font;
    font-size: 18px;
    font-weight: 400;
    color: #565D70;
  }
}
#covers-index {
  display: flex;
  justify-content: center;
}

#covers-index a {
  text-decoration: none;
}

.reviews-details {
  text-align: justify;
}
#confirmation {
  display: flex;
  justify-content: center;
  a {
    width: 109px;
    height: 53px;
    box-shadow: 1px 1px 6px #EBEBEB;
    margin: 10px;
    text-align: center;
    justify-content: center;
    padding-top: 11px;
    margin: 0 10px;
    text-decoration: none;
    color: #505050;
    margin-top: 10px;
  }
}

.reviews {
  border-bottom: solid 0.2em $light-grey;
}

#confirmation-modal-btn {
  padding-top: 0px !important;
}


.favourite-heart {
  i {
    color:white;
    font-size: 30px;
  }
}

.more-restaurants {
  margin-bottom: 25%;
}

.animating-heart {
  color: white!important;
}
