.maps-link {
  display: flex;
}

.restaurant-times {
  display: flex;
  justify-content: center;
}

.restaurant-times-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 10px auto;
  grid-gap: 1rem;
}

.time-slot {
  width: 109px;
  height: 53px;
  box-shadow: 1px 1px 6px #EBEBEB;
  color: black;
}

.time-slot.active {
  background-color: $light-purple;
}

.restaurant-description {
  margin: 15px auto;
  border-top: solid 0.2em $light-grey;
  border-bottom: solid 0.2em $light-grey;
  p {
    padding-top: 2px;
  }
}

.restaurant-images > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  // margin-top: 7px;
}

.restaurant-heading {
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.restaurant-buttons {
  display: flex;
  justify-content: space-between;
}

#covers-index a {
  text-decoration: none;
}

.reviews-details {
  text-align: justify;
}
