<div class="modal fade" id="tableModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalToggleLabel">Choose a table</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="tables-display">
            <% @restaurant.covers.each do |cover| %>
            <div class="table-display">
              <%= @restaurant.index(cover) %>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-target="#tableModalConfirm" data-bs-toggle="modal">Continue</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="tableModalConfirm" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalToggleLabel2">Choose a table</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="tables-display">
            <% @restaurant.covers.each do |cover| %>
            <div class="table-display">
              <%= @restaurant.index(cover) %>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-target="#tableModal" data-bs-toggle="modal">Back to first</button>
      </div>
    </div>
  </div>
</div>
