.card-container {
  display: flex;
  justify-content: flex-start;
  border: 1px solid rgb(244, 244, 244);
  box-shadow: 3px 3px 4px #f3f3f3;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  height: 115px;
  img {
    border-radius: 10%;
    margin-left: 8px;
  }
  h4 > a {
    text-decoration: none;
    color: #505050;
  }
  p {
    color: #505050;
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.restaurant-info {
  p {
    margin-bottom: 0px;
  }
  // padding-left: 10px;
  // width: 100%;
}

.restaurant-cuisine-price {
  display: flex;
  justify-content: space-between;
  // margin-top: 6px;
  // margin-right: 8px;
  i {
    font-size: 16px;
  }
}

#price-dark {
  color: #505050;
}

#price-light {
  color: #505050;
  opacity: 20%;
}
