.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

@media(max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

.card-container {
  position: relative;
}

.card-content {
  z-index: 1;
  display: flex;
  align-items: center;
  height: 150px;
  padding-right: 10px;
}

.card {
  border: 1px solid rgb(244, 244, 244);
  box-shadow: 3px 3px 4px #f3f3f3;
  height: 150px;
  text-decoration: none;
  img {
    border-radius: 10%;
    margin-left: 8px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.restaurant-info {
  width: 75%;
  padding: 15px;
}

#price-dark {
  color: #505050;
}

#price-light {
  color: #505050;
  opacity: 20%;
}

.restaurant-cuisine-rating {
  display: flex;
  justify-content: space-between;
}

.rating-box {
  display: flex;
}
