.favourite_card {
  background-color: white;
  color: black;
  border-radius: 20px;
  width: 300px;
  margin-top: 45px;
  margin-left: 40px;
}

.favourite_card img {
  border-radius: 20px;
}

.favourite_name {
  font-size: 20px;
  font-weight: bold;
}

.rating {
  text-align: left;
}
#restaurant-name {
  margin-bottom: 0px;
  text-decoration: none;
}
