.modal-header {
  button {
    border-radius: 45px;
    border: none;
    width: 45px;
    height: 45px;
    color: $dark-grey;
    background-color: $light-purple;
  }
  span {
    font-size: 30px;
  }
}

.modal {
  --bs-modal-header-border-color: $light-purple;
}

.modal-body {
  margin: 5px 15px;
}

.search-select {
  font-family: 'Raleway';
  width: 85px;
  height: 35px;
  color: #8f90a0;
  background-color: $light-purple;
  box-shadow: 0.2px 0.2px 6px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 5px;;
  font-weight: 700;
  font-size: 16px;
  img {
    margin-left: 5px;
  }
}

.filter-list {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 90%;

  height: 25vh;
  overflow-y: auto;
}

.filter-list {
  overflow-y: auto;
}

.filter-list::-webkit-scrollbar {
  -webkit-appearance: none;
}

.filter-list::-webkit-scrollbar:vertical {
  width: 11px;
}

.filter-list::-webkit-scrollbar:horizontal {
  height: 11px;
}

.filter-list::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 1px solid white; /* should match background, can't be transparent */
  background-color: $purple;
}

.filter-check + label {
  display: flex;
  align-items: center;
  width: 90%;
  height: 40px;
  margin: 5px 0;
  padding-left: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  background-color: #FAF9F9;
  color: #CDCCCC;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
  .placeholder {
    color: #CDCCCC;
  }
}

body::-webkit-scrollbar {
  width: 2em;
  color: $purple;
}

.filter-check  {
  position: absolute;
  transform: scale(0);
}

.filter-check:checked + label {
  background-color: $purple;
  color: white;
}

.rating-list {
  margin: 20px, auto;
  .filter-list {
    height: auto;
  }
}

.form-label[for="restaurant_rating"] {
  display: none;
}

.col-form-label {
  display: none;
}
