.form.home {
  height: 95vh;
}

#form-home-container {
  margin-top: 40px;
}

.form-row {
  display: flex;
  justify-content: center;
  height: 85px;
  margin-top: 10px;
}

.form-tag {
  align-self: center;
  margin-top: 22px;
  display: flex;
  justify-content: center;
  background-color: $light-purple;
  width: 49px;
  height: 41px;
  box-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.25);
  border-radius: 24px 0px 0px 24px;
  i {
    color: white !important;
  }
}

.form-text {
  margin-left: 15px;
  h4 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: -10px;
  }
}

.form-input {
  width: auto;
  height: 40px;
  padding-left: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  background-color: #FAF9F9;
  font-weight: bold;
  font-size: 18px;
  color: #b7b4b4;
}

#restaurant_date {
  color: #8f8d8d;
}

#opening_time {
  color: #8f8d8d;
}

#closing_time {
  color: #8f8d8d;
}

#restaurant_total_seats_available {
  color: #8f8d8d;
}

.short-form-box {
  display: flex;
  justify-content: space-around;
  width: 230px;
  align-items: center;
  .form-input {
    width: 100px;
  }
}

.form-input-short {
  width: 100px;
  height: 40px;
  padding-left: 10px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  background-color: #FAF9F9;
  color: #CDCCCC;
  font-weight: bold;
  font-size: 18px;
}
