.icon {
  align-self: center;
  text-align: center;
}

.icon.medium {
  width: 25px;
  height: 25px;
  font-size: 23px;
  color: white;
}

.icon.light {
  color: $light-purple;
}

.fa-heart {
  z-index: 2;
  position: absolute;
  right: 15px;
  top: 15px;
}

.favourite-heart {
  i {
    color:white;
    font-size: 25px;
  }
}

.heart-background {
  .fa-heart {
    background-color: #cbc2ffab;
    padding: 10px;
    border-radius: 50%;
    text-shadow: 2px 2px 4px rgba(84, 85, 84, 0.77);
  }
}

.fa-star {
  width: 20px;
  height: 20px;
}

.icon-box {
  color: $dark-grey;
}
.icon-box.active {
  background-color: $purple;
  width: 66px;
  color: white;
}
