.icon {
  align-self: center;
}

.icon.medium {
  width: 11px;
  height: 23px;
  font-size: 20px;
  color: white;
}

.icon.light {
  color: $light-purple;
}

.fa-star {
  width: 22px;
  height: 22px;
}

.icon-box {
  color: $dark-grey;
}
.icon-box.active {
  background-color: $purple;
  width: 66px;
  color: white;
}
