.searchbar {
  font-family: 'Raleway';
  width: 230px;
  height: 41px;
  background-color: #FAF9F9;
  color: #CDCCCC;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 27px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}
